ul.admin-group-list {
	list-style: none;
	padding-left: 0px;
}

ul.admin-group-list li {
	padding: 8px;
	margin-bottom: 4px;
	background-color: var(--color-darker);
}

ul.admin-group-list li:hover {
	background-color: var(--color-light);
}

