ul.admin-menu {
	list-style: none;
	padding-left: 0px;
}

ul.admin-menu li {
	display: inline;
	list-style: none;
	padding-left: 0px;
	height: 30px;
	width: 300px;
}

.active-view {
	background-color: var(--color-light);
}

ul.admin-group-list {
	list-style: none;
	padding-left: 0px;
}

ul.admin-group-list li {
	padding: 3px;
	margin-bottom: 2px;
	background-color: var(--color-darker);
}

ul.admin-menu li {
	cursor: pointer;
}

ul.admin-menu li:hover {
	background-color: var(--color-light);
}

ul.admin-user-list li {
	cursor: pointer;
	margin: 0px;
	height: 30px;
}

ul.admin-user-list {
	list-style: none;
	padding-left: 0px;
	border: 1px solid black;
	border-radius: 6px;
	width: 100%;
}

ul.admin-custom-permissions-list {
	list-style: none;
	padding-left: 0px;
	border: 1px solid black;
	border-radius: 6px;
}

ul.admin-custom-permissions-list li {
	background-color: var(--color-darker);
	width: 10%0;
}

ul.admin-user-list li:hover {
	background: var(--color-lighter);
}

section {
	border: 2px solid var(--color-lighter);
	border-radius: 4px;
}

section.admin {
	padding: 6px;
}

section.admin-user-section {
	display: inline;
	width: 50%;
}

h1, h3 {
	background-color: var(--color-dark);
}

h2 {
	background-color: var(--color-dark);
}

.active-user {
	background-color: var(--color-light);
}