:root {
	/* ========= Colors, dark = * 0.4, darker = * 0.8 =========== */
	--color-main: rgb(77, 85, 89);
	--color-dark: rgb(31, 34, 37);
	--color-darker: rgb(62, 68, 71);
	--color-light: rgb(139, 153, 160);
	--color-lighter: rgb(108, 119, 125);
	
	/* ========= Font ============== */
	--color-text: white;
	--size-text: 14px;
	--fnet-font-family: Verdana, Arial, sans-serif, system;
	
	/* ======== Border =========== 
	--fnet-border-color: rgb(92, 141, 162);
	--fnet-border-radius: 8px;
	--fnet-border-style: solid;
	--fnet-border-width: 2px;
	
	--fnet-small-padding: 6px;
	--fnet-large-padding: 10px;
	--fnet-small-margin: 6px;
	--fnet-large-margin: 10px;
	
	--fnet-icon-size-small: 16px;
	--fnet-icon-size-large: 26px;
	--fnet-dialog-icon-widrh: 32px;
	--fnet-dialog-icon-height: 32px;
	
	--fnet-footer-color: rgb(30, 55, 55);
	
	--fnet-button-color: rgb(61, 125, 157);
	--fnet-button-color-hover: rgb(79, 177, 227);*/
}
