@import "colors.css";
@import "common.css";
@import "navigation.css";
@import "admin.css";
@import "dialog.css";
@import "error_dialog.css";
@import "information_dialog.css";
@import "item.css";
@import "comment.css";
@import "icon.css";
@import "sortlist.css";

body {
	background: var(--color-main);
	color: var(--color-text);
	font-size: var(--size-text);
	font-family: var(--fnet-font-family);
}

a, a:visited, a:hover {
	color: var(--color-text);
	text-decoration: none;
}

div.fnet-main {
	margin: 0 auto 0 auto;
	width: 1000px;
}

footer {
	background-color: var(--color-darker);
	padding: 6px;
}

section {
	border-color: var(--color-lighter);
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
	padding: 4px;	
}
