.information-dialog {
	background-color: gray;
	border-color: light-gray;
	border-radius: var(--border-radius);
	border-width: var(--border-width);
	border-style: var(--border-style);
	padding: 8px;
}

.information-content {
	background-color: gray;
	border-color: light-gray;
	border-bottom: var(--border-width);
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-style: var(--border-style);
}

.information-content h1 {
	background-color: gray;
	margin-bottom: 2px;
	margin-top: 2px;
}