ul.item_list {
	padding-left: 0px;
	list-style-type: none;
}

ul.item_list li:hover {
	background-color: var(--color-darker);
	line-height: 36px;
	transition: line-height 0.5s ease-out;
}

ul.item_list li {
	line-height: 24px;
	transition: line-height 0.5s ease-out;
}