ul.navigation-bar {
	list-disc-type: none;
	padding-left: 0px;
	text: var(--color-text);
	background-color: var(--color-darker);
}

li.navigation-item {
	display: inline-block;
	width: 21%;
	padding: 8px 16px;
	margin: auto;
}

li.navigation-item:hover {
	background-color: var(--color-dark);
}
