<div ng-controller="itemController">
<section>
	<span class="sort-menu">
		<label>
			Sort:
		</label>
		<ul class="item-sort">
			<li ng-click="item.sort('name')" class="pointer" ng-class="{ 'active' : item.sort_type == 'name' }">name</li>
			<li ng-click="item.sort('date')" class="pointer" ng-class="{ 'active' : item.sort_type == 'date' }">date</li>
		</ul>
		<div>
			<input type="checkbox" value="show date" ng-model="item.show_date">
			<label>
				show date
			</label>
		</div>
	</span>
	<span ng-if="current.view != current.root_view" class="item-title">
		<div class="item-title-left">
			<button back-button>
				<img src="/fnet/svg/previous.svg" class="list-icon">
			</button>
		</div>
		<div class="item-title-right">
			<h2 class="item-list-title">
				{{item.name}}
			</h2>
		</div>
	</span>
	<ul class="item_list pointer">
		<span ng-repeat="itemdto in item.items">
			<a href='{{itemdto.item.itemType == "FOLDER" ? "#!/main" : "/fnet/download"}}/{{itemdto.item.itemId}}'>
				<li>
					<span ng-if="item.show_date == true">
						{{itemdto.item.timestamp | date: 'dd.MM.yyyy'}}
					</span>
					<span>
						<i ng-switch="itemdto.item.itemType">
							<img src="/fnet/svg/folder.svg" class="list-icon" ng-switch-when="FOLDER" />
							<img src="/fnet/svg/audio.svg" class="list-icon" ng-switch-when="AUDIO" />
							<img src="/fnet/svg/video.svg" class="list-icon" ng-switch-when="VIDEO" />
							<img src="/fnet/svg/image.svg" class="list-icon" ng-switch-when="IMAGE" />
							<img src="/fnet/svg/document.svg" class="list-icon" ng-switch-when="DOCUMENT" />
							<img src="/fnet/svg/file.svg" class="list-icon" ng-switch-default />
						</i>
					</span>
					<span>
						<!-- Folder link -->
						{{itemdto.item.name}}
					</span>
					<span class="pull-right" ng-if="itemdto.item.itemType == 'FOLDER'">
						<img src="/fnet/svg/comment.svg" class="list-icon">
						({{itemdto.commentCount}})
					</span>
				</li>
			</a>
		</span>
	</ul>
	<button ng-click="upload.show()" class="pointer" ng-if="current.can_upload == true && current.view != current.root_view">Upload</button>
	<button ng-click="folder.show()" ng-if="current.can_add_folder == true">Add Folder</button>
</section>

<!-- Comments -->
<section ng-if="current.view != current.root_view">
	<h2 class="comment-title">Comments:</h2>
	<button ng-click="comment.show()" class="pointer" ng-if="current.can_comment == true">Comment</button>
	<section class="comment" ng-repeat="commentdto in item.comments">
		<div>
			<span>
				<h4>{{commentdto.userName | capitalize}}</h4> wrote on {{commentdto.timestamp | date: 'dd.MM.yyyy'}}
			</span>
			<span class="pull-right cursor" ng-if="commentdto.userId == current.user.userId">
				<img src="/fnet/svg/trash.svg" class="list-icon"  ng-click="comment.delete(commentdto.commentId)">
			</span>
		</div>
		<p>
			{{commentdto.comment}}
		</p>
	</section>
</section>

<!-- Upload dialog -->
<div class="modal-background" ng-if="upload.visible == true">
	<div class="center-dialog dialog-content upload-dialog">
		<h1>
			Upload to {{item.name}}
		</h1>
		<span ng-if="upload.in_progress == false">
			Choose file:
			<input type="file" id="file"><br>
			<span class="pull-right">
				<button ng-click="upload.submit()">Upload</button>
				<button ng-click="upload.hide()">Cancel</button>
			</span>
		</span>
		<span ng-if="upload.in_progress == true">
			<div class="progress-bar" id="progressbar">
			</div>
		</span>
	</div>
</div>

<!-- Comment dialog -->
<div class="modal-background" ng-if="comment.visible == true">
	<div class="center-dialog dialog-content comment-dialog">
		<h1>
			Comment {{item.name}}
		</h1>
		<span>
			<form id="comment-form">
				<textarea id="comment" width="15" height="5">
				</textarea>
			</form>
			<span class="pull-right">
				<button ng-click="comment.add_comment()">Comment</button>
				<button ng-click="comment.hide()">Cancel</button>
			</span>
		</span>
	</div>
</div>

<!-- Add folder dialog -->
<div class="modal-background" ng-if="folder.visible == true">
	<div class="center-dialog dialog-content add-folder-dialog">
		<h1>
			Add folder to {{item.name}}
		</h1>
		<span>
			<form id="add-folder-form">
				<input type="text" id="add-folder">
			</form>
			<span class="pull-right">
				<button ng-click="folder.add()">Add Folder</button>
				<button ng-click="folder.hide()">Cancel</button>
			</span>
		</span>
	</div>
</div>

</div>
