<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>FNet 2.0</title>
		<script th:inline="javascript">
			var session = {
				user: /*[[${user}]]*/null,
				user_data: /*[[${user_data}]]*/null,
				active_group: /*[[${activegroup}]]*/null,
				groups: /*[[${groups}]]*/null,
				current_view: null,
				can_upload: /*[[${canupload}]]*/null,
				can_comment: /*[[${cancomment}]]*/null,
				can_add_folder: /*[[${canaddfolder}]]*/null,
				root_view: /*[[${rootview}]]*/null,
			};
			console.log('From server');
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<script src="/fnet/js/angular-route.js"></script>
		<script src="/fnet/js/checklist-model.js"></script>
		<script src="/fnet/js/fnet.js"></script>
		<script src="/fnet/js/admin.js"></script>
		<script src="/fnet/js/item.js"></script>
		
		<link rel="stylesheet" href="/fnet/style/fnet.css">
	</head>
	<body>
		<div ng-controller="fc" class="fnet-main" ng-app="fnet">
			<a href="/fnet#!/main">
				<img src="/fnet/images/logo.png">
			</a>
			<nav>
				<ul class="navigation-bar">
					<li class="navigation-item">
						<span class="name">{{current.user_data.firstName}}</span>
						<span th:if="${isadmin == true}">
							<a href="/fnet#!/admin">
								<img src="/fnet/svg/admin.svg" class="list-icon">
							</a>
						</span>
					</li>
					<li class="navigation-item">
						<!-- Grups -->
						<span ng-if="current.user_groups.length > 1">
							<select>
								<option  ng-repeat="group in current.user_groups" ng-value="group.groupId" ng-select="group.groupId == current.active_group">{{group.name}}</option>
							</select> 
						</span>
						<span nh-else>
							&nbsp;
						</span>
					</li>
					<li class="navigation-item">
						<!-- Latest -->
						<img src="/fnet/svg/file.svg" class="list-icon">
						 ({{latest_container.data.numberOfItems}})
						<img src="/fnet/svg/comment.svg" class="list-icon">
						({{latest_container.data.numberOfComments}})
					</li>
						<a href="/logout">
					<li class="navigation-item">
							<img src="/fnet/svg/exit.svg" class="list-icon">
					</li>
						</a>
				</ul>
			</nav>
			<div id="main" ng-view></div>
			<footer>
				<span class="pull-left">
					&copy; 2022 Orbital3d Studios
				</span>
				<span class="pull-right" th:text="${fnetversion}">
					not working
				</span>
			</footer>

<!-- Error dialog -->
<div class="modal-background" ng-if="errorDialog.visible == true">
	<div class="center-dialog error-dialog" ng-click="errorDialog.hide()">
		<div class="dialog-content error-dialog-content">
			<h1>{{errorDialog.message}}</h1>
			<center>
				<label>
					{{errorDialog.description}}
				</label>
			</center>
		</div>
	</div>
</div>
	
<!-- ---------- Information Dialog --------------- -->
<div class="modal-background" ng-if="information.visible == true">
	<div class="center-dialog information-dialog" ng-click="information.hide()">
		<div class="dialog-content information-content">
			<h1>
				{{information.message}}
			</h1>
		</div>
	</div>
</div>


		</div>
		

		
	</body>
</html>